<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-thumbnail item-start>
        <img [src]="item.produto.imageUrl || 'assets/imgs/prod.jpg'">
      </ion-thumbnail>
      <h2>{{item.produto.nome}}</h2>
      <p>{{item.produto.preco | currency}}</p>
      <ion-icon class="nolinebreak" name="remove-circle" (click)="removeQuantity(item.produto)" color="primary">
      </ion-icon>
      <p class="nolinebreak">{{item.quantidade}}</p>
      <ion-icon class="nolinebreak" name="add-circle" (click)="increaseQuantity(item.produto)" color="primary">
      </ion-icon>
      <ion-icon name="trash" color="danger" (click)="removeItem(item.produto)" item-end></ion-icon>
    </ion-item>
    <ion-item *ngIf="total() > 0">
      <h1>Total</h1>
      <h1 item-end>{{total()}}</h1>
    </ion-item>
    <ion-item *ngIf="total() <=  0">
      <h1>Seu carrinho está vazio</h1>
    </ion-item>
  </ion-list>
  <button ion-button block (click)="goOn()">Continuar comprando</button>
  <button *ngIf="total() > 0"ion-button block color="secondary" (click)="checkout()">Finalizar Compra</button>
</ion-content>