<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar>
    <img class="cicle" [src]="cliente?.imageUrl || 'assets/imgs/avatar-blank.png'">
  </ion-avatar>
  <h2>{{cliente?.nome}}</h2>
  <p>{{cliente?.email}}</p>
  <ion-card>
    <ion-card-header>
      Enviar imagem de perfil
    </ion-card-header>
    <ion-item *ngIf="picture">
      <img [src]="picture">
    </ion-item>
    <ion-item>
      <button ion-button block (click)="getCameraPicture()" [disabled]="cameraOn">Camera</button>
      <button ion-button block (click)="getGalleryPicture()" [disabled]="cameraOn">Pegar Do dispositivo</button>
      <button *ngIf="picture" ion-button block outline (click)="sendPicture()">Enviar Imagem</button>
      <button *ngIf="picture" ion-button block outline (click)="cancel()">Cancelar imagem</button>
    </ion-item>
  </ion-card>
</ion-content>