<ion-content padding>
  <h3>Sistema de Pedidos</h3>
  <img src="assets/imgs/logo_rbg.png" alt="fundo-estudo">
  <form>
    <ion-item>
      <ion-label stacked> E-mail</ion-label>
      <ion-input [(ngModel)]="cred.email" name="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked> Senha</ion-label>
      <ion-input [(ngModel)]="cred.senha" name="senha" type="password"></ion-input>
    </ion-item>
    <button ion-button block (click)=login()>Log-in</button>
    <button ion-button block outline (click)="signUp()">Criar conta</button>
  </form>
</ion-content>