<!--
  Generated template for the PickAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fechamento de pedido</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Selecione um endereço
    </ion-list-header>
    <button ion-item *ngFor="let item of items" (click)="nextPage(item)">
      <h2>{{item.logradouro}}, {{item.numero}}</h2>
      <p>{{item.complemento}} {{item.bairro}} CEP {{item.cep}}</p>
      <p>{{item.cidade.nome}}, {{item.cidade.estado.nome}}</p>
    </button>
  </ion-list>
</ion-content>